<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>Test</title>
    </head>

    <!-- *****************Important********************* -->
    <!-- *****************Important********************* -->
    <!-- *****************Important********************* -->
    <!-- *****************Important********************* -->
    <!-- *****************Important********************* -->
    <!-- *****************Important********************* -->
    <!-- This file is a .ejs this means that you can put javascript code inside the marks
    <% %> and that give us the chance to modify the html very fast and easy. The other marks for 
    the given variables from the backend is the <%= %>, here we can put the variables that the backend
    provides for this file. This part of the code is not the important because is only one way to show
    the information but important thing is how get that information from the API and that is made it
    in the server side with fetch-->

    <body>
        <header>
            <!-- This is a class from bootstrap-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    
                    <div class="navbar-brand">
                        Logo
                    </div>
                    <div class="navbar-brand">
                        navigation
                    </div>

                </div>
            </nav>
        </header>

        <main>
            <div class="container-sm">
                <div class="row">
                    <div class="col-sm">
                        
                        <!--Here we say "the method is going to be a 'POST' method and the action is '/'-->
                        <form method="POST" action="/">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Insert Link</label>
                                
                                <!-- Here is very important the name of the input, because the POST route in the backend
                                is going to read the property "req.body.input"-->
                                <input type="text" name="input" class="form-control" id="name" placeholder="URL">
                            </div>
                            <input type="submit" value="submit">
                        </form>
                    </div>
                </div>
            <div id="results">

                <!-- Here we use the variable "responseIsExist" for say if we going to show this section or
                we will ignore it.-->
                <% if(responseIsExist){ %>

                <!-- Here we put the text 'form results' and then we use the forEach method to iterate in the
                array of objects that the API give us. I in particular chose to show the labels that the
                API returns, but you can show what you want from the response -->
                <strong>Form Results:</strong>
                <% response.category_list.forEach(element => { %>
                    <div class="alert alert-success" role="alert">
                        <%= element.label %> 
                    </div>
                <%})}; %>
            </div>
            </div>
        </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">This is a footer</p>
        </footer>
       
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>